<header>
        <style>
                header{
                    text-align: right;
                }
        </style>
        <% if (!user) { %>
                <a  href="users/register">Register</a>| <a href="/api/login">Login</a></span>
     
           
           <% }else{ %>
     <h3 >Hello <a  style="color:orange" href="/users/profile" >
     <%= user.profile.name.toUpperCase() %>
     </a>
     </h3>
         <a style="color:black"
         href="/logout">logout</a>
     </span>
          <% } %>
           



</header>