<!DOCTYPE html>
<html lang="en">
    <head>
            <%- include ../partials/head %>
    </head>
    <body>
        <h1>thank you for logging in</h1>
        <h1>calculate your BMI</h1>
        <form role="form" method="POST" action="/auth/bmi">
        <input  placeholder="please enter your weight lbs" type='text' id="weight" name="weight"><br>
        <input   placeholder="please enter your height in ft" type='text' id="height" name="height"><br>
        <button type="submit">Calculate my BMI</button>
        </form>
        <p>YOUR BMI IS: <%= bmi %> </p>
        <% if (bmi<18.5) { %>
        <p>underweight</p>
        <% } %> <% if (bmi>18.5 && bmi<24.9) { %>
        <p>healthy</p>
        <% } %> <% if (bmi>25 && bmi<30) { %>
        <p>overweight</p>
        <% } %> <% if (bmi>30 && bmi<40) { %>
        <h3> obese </h3>
        <p>
            <h4>Health consequences of a high BMI?</h4>
                When it comes to the amount of body fat you carry, the stakes are high. Obesity and high levels of body fat carry a variety of health consequences, and can affect your overall health and quality of life. They include:
                <ul>
                <li>High blood pressure</li>
                <li>High cholesterol levels</li>
                <li>Diabetes</li>
                <li>Heart disease</li>
                <li>Stroke</li>
                <li>Gallbladder disease</li>
                <li>Osteoarthritis</li>
                <li>Sleep apnea</li>
                <li>Chronic inflammation and pain</li>
                <li>Certain types of cancer</li>
                <li>Mental disorders such as anxiety and depression</li>
                <li>Increased risk of death</li>
</ul>
        </p>
        <% } %> <% if (bmi>40 ) { %>
        <p>Extreme obesity</p>
        <% } %>

        <a href="/auth/track">track your calories?</a>
        <a href=""> track your exercise?</a>
        </form>
        <%- include ../partials/script %>
    </body>
</html>