<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>thank you for logging in</h1>
        <h1>calculate your BMI</h1>
        <form role="form" method="POST" action="/auth/bmi">
            <label>Enter your weight in kg:</label><input  placeholder="" type='text'/><br>
            <input   placeholder="enter your height in cm" type='text'/><br>
            
            <button type="submit" value="submit">Calculate your BMI</button>
            <br><br>
            <!-- <label>YOUR BMI IS:</label><input type="text" name="bmi" readonly="readonly"><br>
            <a href="/auth/track">track your calories?</a>
            <a href=""> track your exercise?</a> -->
        </form>
    </body>
</html>