<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!Doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>CALCULATE YOUR BMI</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="/stylesheet/style3.css" />
</head>
<body>
        <style>
                body {
                  background-image: url('/img/fitness.jpg');
                  height: 100%;
                }
                </style>
                <%- include ../partials/header2 %>
 <div class="container">
 <!---heading---->
     <header class="heading"> CALCULATE YOUR BMI</header><hr></hr>

    <!---Form starting----> 
    <form role="form" method="POST" action="/auth/bmi">
	<div class="row ">
	 <!--- For Name---->
         <div 
         
         class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname">Weight :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="weight" id="fname" placeholder="Please enter your weight in lbs" class="form-control ">
             </div>
		      </div>
		 </div>
		 
		 
         <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
                     <label class="lastname">Height :</label></div>
				<div class ="col-xs-8">	 
		             <input type="text" name="height" id="lname" placeholder="Please enter your height in feet" class="form-control last">
                </div>
		     </div>
		 </div>
     <!-----For email---->
		 <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
		             <label class="lastname">Age :</label></div>
			     <div class="col-xs-8"	>	 
			          <input type="text" name="email"  placeholder="Please enter your age" class="form-control" >
		         </div>
		     </div>
		 </div>
	 <!-----For Password and confirm password---->
          <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="pass">Exercise :</label></div>
				  <div class="col-xs-8">
			             <input type="text" name="password" id="password" placeholder="Please enter number of your weekly exercise" class="form-control">
				 </div>
          </div>
		  </div>
		  
     <!-----------For Phone number-------->
         <div class="col-sm-12">
		     <div class ="row">
                 <div class="col-xs-4 ">
			       <label class="gender">Gender:</label>
				 </div>
			 
			     <div class="col-xs-4 male">	 
				     <input type="radio" name="gender"  id="gender" value="boy">Male</input>
				 </div>
				 
				 <div class="col-xs-4 female">
				     <input type="radio"  name="gender" id="gender" value="girl" >Female</input>
			     </div>
			
		  	 </div>
		     <div class="col-sm-12">
                 <div>
                 <button type="submit" class="btn btn-warning">Calculate my BMI</button>
                 <h4>YOUR BMI IS: <%= bmi %> </h4>
                 
                 </div>
		   </div>
		 </div>
     </div>	 
     <% console.log(bmi) %> 
  
<div id="result">
        <% if (bmi === undefined) { %>
            <p>  </p>
        <% } %>
        <% if (bmi<18.5 && bmi !== null) { %>
        <h2 style=color:red;>underweight</h2>
        
                <h4>Health consequences of a low BMI</h4>
                <p> There’s a lot of focus in the medical world on the health effects of being overweight, but what about the effects of being underweight? There are certain health risks associated with being underweight or having poor nutrition.
                These risks include:
                <ul>
                <li>malnutrition, vitamin deficiencies, or anemia</li>
                <li>osteoporosis from too little vitamin D and calcium</li>
                <li>decreased immune function</li>
                <li>increased risk for complications from surgery</li>
                <li>growth and development issues, especially in children and teenagers </li>
                </ul>
            </p>
        <% } %> <% if (bmi>18.5 && bmi<24.9) { %>
        <h2 style=color:blue;>healthy</h2>
        <% } %> <% if (bmi>25 && bmi<30) { %>
        <h2 style=color:red;>overweight</h2>
        <h4>Health consequences of a high BMI</h4>
            <p>   When it comes to the amount of body fat you carry, the stakes are high. Obesity and high levels of body fat carry a variety of health consequences, and can affect your overall health and quality of life. They include:
                <ul>
                <li>High blood pressure</li>
                <li>High cholesterol levels</li>
                <li>Diabetes</li>
                <li>Heart disease</li>
                <li>Stroke</li>
                <li>Gallbladder disease</li>
                <li>Osteoarthritis</li>
                <li>Sleep apnea</li>
                <li>Chronic inflammation and pain</li>
                <li>Certain types of cancer</li>
                <li>Mental disorders such as anxiety and depression</li>
                <li>Increased risk of death</li>
                </ul>
            </p>
        <% } %> <% if (bmi>30 && bmi<40) { %>
        <h2 style=color:red;> obese </h2>
        
            <h4>Health consequences of a high BMI</h4>
            <p>   When it comes to the amount of body fat you carry, the stakes are high. Obesity and high levels of body fat carry a variety of health consequences, and can affect your overall health and quality of life. They include:
                <ul>
                <li>High blood pressure</li>
                <li>High cholesterol levels</li>
                <li>Diabetes</li>
                <li>Heart disease</li>
                <li>Stroke</li>
                <li>Gallbladder disease</li>
                <li>Osteoarthritis</li>
                <li>Sleep apnea</li>
                <li>Chronic inflammation and pain</li>
                <li>Certain types of cancer</li>
                <li>Mental disorders such as anxiety and depression</li>
                <li>Increased risk of death</li>
                </ul>
            </p>
        <% } %> <% if (bmi>40 ) { %>

        <h2 style=color:red;> Extreme obesity </h2>
        
            <h4>Health consequences of a high BMI</h4>
            <p>   When it comes to the amount of body fat you carry, the stakes are high. Obesity and high levels of body fat carry a variety of health consequences, and can affect your overall health and quality of life. They include:
                <ul>
                <li>High blood pressure</li>
                <li>High cholesterol levels</li>
                <li>Diabetes</li>
                <li>Heart disease</li>
                <li>Stroke</li>
                <li>Gallbladder disease</li>
                <li>Osteoarthritis</li>
                <li>Sleep apnea</li>
                <li>Chronic inflammation and pain</li>
                <li>Certain types of cancer</li>
                <li>Mental disorders such as anxiety and depression</li>
                <li>Increased risk of death</li>
                </ul>
            </p>
        <% } %> 
<h4><a href=/track/workout>Want to lose weight? Checkout our workouts!</a></h4>
<p>or</p>
<h4><a href=/track/workout> Track your calories</a></h4>
        </div>
    </form>
</div>
</body>		
</html>