<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
    </head>
    
    <body>
        <header>
                <% include ../partials/header %> 
        </header>
        
        <h1>Profile for <%= user.profile.name %> </h1>

        <% include ../partials/footer %> 
    </body>
    <% include ../partials/script %> 
</html> 