<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
            <form role="form" method="POST" action="/users/register" class="register-form">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="col-lg-6">
                        <label for="email">Your email address</label>
                        <input type="text" name="email">
                    </div>
                    <div class="col-lg-6">
                        <label for="password">password</label>
                        <input type="password" name="password">
                    </div>
                    
                </div>
                <button type="submit" class="register-btn">Get Started</button>
            </form>
    </body>
</html>