<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>Single Workout page</h3>
        <p>Workout name: <%= workout.name %> </p>
        <p> <%= workout.duration %> </p>
        <p> <%= workout.description %> </p>
        <img
            style="height:140px; width: 160px"
            src="<%=workout.image.picture%>"
            />
    </body>
</html>