<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>Welcome to our fitness page.</h3>

        <% for( let i = 0; i < workout.length; i++ ) { %>
            <p><%= workout[i].name %> </p>
            <p><%= workout[i].duration %> </p>
            <p><%= workout[i].description %> </p>
            <img
            style="height:140px; width: 160px"
            src="<%=workout[i].image.picture%>"
            />
        <% } %>

    
    </body>
</html>